{# 
  Contenedor de la grilla para los eventos. 
  Archivo: views-view-unformatted--eventos.html.twig 
#}
<div class="noticias-grid">
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</div>